.requestSupervisor {
    background-image: url("https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg");
    height: auto;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}