.backImg {
    background-image: 
    url('https://images.unsplash.com/photo-1501290836517-b22a21c522a4?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;

  
           
}

.para{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 90px;
  font-style: italic;
}

.para1{
    border-style: outset;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 250px;
    margin-left: 250px;
    width: 70%;
    justify-content:center ;
    border-width: 5px;
    align-items: center;
   
    
}

.para1 p{
    font-size: 30px;
    font-style: italic;
}

.container {
    height: 60px;
    position: relative;
    border: 3px solid white; 
}

.container button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #6F8FAF; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 14px 40px;
}




.para2{
    border-style: outset;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
    width: 70%;
    justify-content:center ;
    border-width: 5px;
}
