.backImg {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url("https://media.istockphoto.com/vectors/young-people-group-reading-books-study-learning-knowledge-and-vector-vector-id1206750602?k=20&m=1206750602&s=612x612&w=0&h=nOBI0vsqpURdDZ1dmcn9bys2Z_5gaIuAl1pfFujZiMk="); */
    height: 100%;
    background-image: url("https://media.istockphoto.com/vectors/young-people-reading-books-study-learning-knowledge-and-education-vector-id1208275886?k=20&m=1208275886&s=170667a&w=0&h=gtzw3svyKc5ioR-NWNEOQgybfci8GZjq2xyqpLDgDZM=");
    /* background-image: url("https://media.istockphoto.com/vectors/young-people-reading-books-in-the-park-summer-landscape-background-vector-id1209257337?k=20&m=1209257337&s=612x612&w=0&h=PcKNkONcsNWuUTDWrCmZag7hTr76LpfFuUM8OuMk4AQ="); */
    background-position: center;
    position: absolute;
    left: 0;
    width: 100%;        
}

.para{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 90px;
  font-style: italic;
}

.para1{
    border-style: outset;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 250px;
    margin-left: 250px;
    width: 70%;
    justify-content:center ;
    border-width: 5px;
    align-items: center;
   
    
}

.para1 p{
    font-size: 30px;
    font-style: italic;
}

.container {
    height: 60px;
    position: absolute;
}

.container button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #0e412d; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 40px;
    margin-top: 590px;
    margin-left: 100px;
    border-radius: 30px;
    width: 350px;
}




.para2{
    border-style: outset;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 250px;
    margin-left: 250px;
    width: 70%;
    justify-content:center ;
    border-width: 5px;
}
