.logo {
    color: aliceblue;
    font-size: 40px;
    font-weight: 700;
}

a {
    text-decoration: none;
    
}

li {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-around;
    min-height: 12vh;
    align-items: center;
    background-color: #6990ca;
    
}

nav .nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
   
}

nav .nav-links a{
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;
    color: white;
}

nav .nav-links a:hover{
    /* border-bottom: 1px solid #fff; */
    color: black;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6990ca;
    overflow-x: hidden;
    padding-top: 130px;
  }
  
  .sidenav a {
    padding: 25px 8px 28px 24px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    cursor: pointer;
  }
  
  .sidenav a:hover {
    color: black;
  }
  

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  